{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="article-list__article article-list__article--{{post_class}}">
  <a href="{{url}}" class="article-list__link">
    <header class="article-list__header">
      <time
        class="article-list__time"
        pubdate datetime="{{date format="YYYY-MM-DD"}}"
        title="August 28th, 2011"
      >
        {{date format="DD MMMM YYYY"}}
      </time>
      <h1 class="article-list__title">
        {{title}}
      </h1>
    </header>
  </a>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
